
{% extends "auth-layout.html" %}
{% load i18n %}

{% block content %}
<main class="main-content mt-0">
  <div
    class="page-header align-items-start min-vh-50 pt-7 pb-9 bg-gradient-info"
  >
    <span class="mask bg-gradient opacity-6"></span>
  </div>
  <div class="container">
    <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
      <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
        
        <div class="card mt-5">
          <div class="card-header pb-0 text-start">
            <h3 class="font-weight-bolder">{{title}}</h3>
          </div>
          <div class="card-body">
              <div >
                <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
                <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
              </div>
              <div class="text-center">
                <a href="/" class="btn mb-0 btn-info btn-md w-100 null mt-4 mb-0">Regresar</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}


