{% extends "auth-layout.html" %}


{% block content %}
<main class="main-content mt-0">
  <div
    class="page-header align-items-start min-vh-50 pt-7 pb-9 bg-gradient-info"
  >
    <span class="mask bg-gradient opacity-6"></span>
  </div>
  <div class="container">
    <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
      <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
        
        <div class="card mt-5">
          <div class="card-header pb-0 text-start">
            <h3 class="font-weight-bolder">Recuperar contraseña</h3>
            <p class="mb-0">Enviaremos un enlace a tu correo electronico para recuperar la contraseña</p>
          </div>
          <div class="card-body">
            <form action="#" method="POST" class="text-start">
              {% csrf_token %}
              <label>Correo electronico</label>
              
              <div class="form-group" aria-label="Email">
                <div class="">
                  <input id="email" name="email" type="email" autocomplete="email" required class="form-control form-control-default">
                </div>
              </div>
              <div class="text-center">
                <span class="badge badge-danger badge-lg null null">{{ form.email.errors }}</span>
              </div>

              <div class="text-center">
                <button type="submit" class="btn mb-0 btn-info btn-md w-100 null mt-4 mb-0">Enviar</button>
              </div>
            </form>
          </div>
          <div class="card-footer text-center pt-0 px-lg-2 px-1">
            <p class="text-sm mx-auto">
              Cancelar y
              <a href="/accounts/login/" class="text-info font-weight-bold">Regresar al login</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% comment %} <div class="mx-auto w-full max-w-sm lg:w-96">
  <div>
    <img class="h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
    <h2 class="mt-8 text-2xl font-bold leading-9 tracking-tight text-gray-900">Recuperar contraseña</h2>
    <p class="mt-2 text-sm leading-6 text-gray-500">
      Enviaremos un enlace a tu correo electronico para recuperar la contraseña
    </p>
  </div>
  <div class="mt-10">
    <div>
      <form action="#" method="POST" class="space-y-6">
        {% csrf_token %}
        {{ form.email.errors }}
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Correo electronico</label>
          <div class="mt-2">
            <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center">
          </div>

          <div class="text-sm leading-6">
            <a href="/accounts/login/" class="font-semibold text-indigo-600 hover:text-indigo-500">regresar al login</a>
          </div>
        </div>
        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div> {% endcomment %}
{% endblock content %}



