{% extends "auth-layout.html" %}
{% load i18n static %}

{% block viewtitle %}
Gthux password reset
{% endblock viewtitle %}

{% block content %}
<main class="main-content mt-0">
  <div
    class="page-header align-items-start min-vh-50 pt-7 pb-9 bg-gradient-info"
  >
    <span class="mask bg-gradient opacity-6"></span>
  </div>
  <div class="container">
    <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-7 mx-auto">
        <div class="card mt-5">
          
          {% if validlink %}
          <!-- valid link -->
            <div class="card-header pb-0 text-start">
              <h3 class="font-weight-bolder">Nueva contraseña</h3>
              <p class="mb-0">Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente, debe tener en cuenta:</p>
              {% if  help_text%}
                  <ul class="mt-3">
                      {% for item in help_text %}
                          <li class="text-sm leading-6 text-gray-600">{{item}}</li>
                      {% endfor %}
                  </ul>
                  
              {% endif %}
            </div>
            <div class="card-body">
              <form action="#" method="POST" class="text-start">
                {% csrf_token %}
                <label  for="id_new_password1">{% translate 'New password:' %}</label>
                
                <div class="form-group">
                  <div class="">
                    <input type="password" name="{{ form.new_password1.name }}" autocomplete="off" required="" id="id_new_password1" class="form-control form-control-default">
                  </div>
                </div>
                <label for="id_new_password2" >{% translate 'Confirm password:' %}</label>
                <div class="form-group" >
                  <div class="">
                    <input type="password" name="{{ form.new_password2.name }}" autocomplete="off" required id="id_new_password2" class="form-control form-control-default">
                  </div>
                </div>
                <input type="checkbox" onclick="showPassword()"> Mostrar contraseña
                <div class="text-center">
                  <span class="badge badge-danger badge-lg null null">{{ form.email.errors }}</span>
                  
                  {% if form.new_password2.errors %}
                    <!-- error messages -->
                    <div class="text-center">
                      {% for error in form.new_password2.errors %}
                        <li class="mt-2 badge badge-danger badge-lg null null">{{ error }}</li>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="text-center">
                  <button type="submit" class="btn mb-0 btn-info btn-md w-100 null mt-4 mb-0">Enviar</button>
                </div>
              </form>
            </div>
            <div class="card-footer text-center pt-0 px-lg-2 px-1">
              <p class="text-sm mx-auto">
                Cancelar y
                <a href="/accounts/login/" class="text-info font-weight-bold">Regresar al login</a>
              </p>
            </div>

          {% else %}
          <!-- invalid link -->
            <div class="card-header pb-0 text-start">
              <h3 class="font-weight-bolder">Nueva contraseña</h3>
            </div>
            <div class="card-body">
              <div class="text-center">
                  <p class="mt-2" style="background-color: #fdd1da;color: #f80031;border-radius:0.45rem;padding:0.85rem;">
                    <span>
                      <svg class="h-5 w-5 text-danger" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
                      </svg>
                    </span>
                    <span>
                      {% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
                    </span>
                  </p>
              </div>
              <div class="text-center">
                <a href="/accounts/password-reset/" class="btn mb-0 btn-info btn-md w-100 null mt-4 mb-0">Solicitar de nuevo</a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}


{% block javascript %}
<script>
const togglePassword=(x)=>{
  console.log("togglePassword", x.type)
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
function showPassword() {
  console.log("showPassword");
  let new_password1 = document.getElementById("id_new_password1");
  let new_password2 = document.getElementById("id_new_password2");
  togglePassword(new_password1);
  togglePassword(new_password2)
  
}
</script>
  
{% endblock javascript %}
  



