{% load static %}
{% load mix %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite App</title>
  {% include 'layout/includes/css.html' %}

  {% block styles %}
  {% endblock styles %}
</head>

<body>
  <div id="app"></div>
    {% block breadcrumb %}
    {% endblock breadcrumb %}
    <!-- Content goes here -->
    {% block content %}
    {% endblock content %}

  </div>
  {% include 'layout/includes/js.html' %}
  {% block script %}
  {% endblock script %}
</body>

</html>