{% load static %}
{% load mix %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite App</title>
  {% include 'layout/includes/css.html' %}

  {% block styles %}
  {% endblock styles %}
</head>

<body>
  <div>
    <!-- Navbar -->
    <div class="container mx-auto px-4 py-2 sm:px-6 lg:px-8">
      {% block breadcrumb %}
      {% endblock breadcrumb %}
        <h1>hello</h1>
      <!-- Content goes here -->
      {% block content %}
      {% endblock content %}
    </div>

  </div>
  {% include 'layout/includes/js.html' %}
  {% block script %}
  {% endblock script %}
</body>

</html>